@use "../../../assets/styles/resets.scss";
@import "../../../assets/styles/setting";

  .main-div-cards{
    position: absolute;
    width: 200px;
    .img {
        width: 150px;
        height: 150px;
        position: absolute;
        img{
            width: 150px;
            height: 150px;
            margin-left: 20px;
        }
    }

    h3 {
        position: absolute;
        top: 270px;
        left: 35px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    p {
        position: absolute;
        top: 180px;
        left: 15px;
        color: $violet;
        text-align: center;
        justify-content:center ;
        font-size: 18px;
        font-weight: 700;
    }

    .circle {
        display: flex;
        gap: 10px;
        position: relative;
        justify-content: center;
        justify-items: center;
        position: absolute;
        top:230px;
        left: 27%;
        div:nth-child(3) {
            background: #8568FF;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            justify-content: center;
        }
        div:nth-child(2) {
            background: #EC42A2;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            justify-content: center;
        }
        div:nth-child(1) {
            background: #DE9034;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            justify-content: center;
        }
    }
  }
