@use "../../../assets//styles/resets";
@import "../../../assets/styles/setting";

.LeatestProductsCardsMain{
    width: 300px;
    height: 250px;
    &:hover{
        transform: scale(1.02);
        box-shadow: 0 15px 70px rgba(0, 255, 17, 0.2), 0 15px 30px rgba(255, 0, 0, 0.1);
    }
    .LeatestProductsImg{
        background: #F7F7F7;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-left: 25%;
        margin-bottom: 10px;
        height: 200px;
        img{    
            
            height: 70%;
        }
    }
    h3{
        font-size: 16px;
        float: left;
    }
    h2{
        font-size: 17px;
        float: right;
        p{
            display: inline-block;
            color: $red;
            text-decoration: line-through;
            text-decoration-color: black;
        }
    }
}