@use "../../assets/styles/resets";
@import "../../assets/styles/setting";
.featured-products-text{
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-top: 100px;
    left: 40%;
    cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $red;
        transition: width 1s ease-in-out;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover::after{
        transform-origin: right;
        transition: width 1s ease-in-out;
    }
}
.slider{
    display: flex;
    width: 120px;
    height: 7px;
    gap: 7px;
    margin-left: 47%;
    div:nth-child(1){
        background-color:$red;
        width: 25px;
        border-radius: 5px;
    }
    div:nth-child(2){
        background: #FEBAD7;
        border-radius: 5px;
        width: 15px;
    }
    div:nth-child(3){
        background: #FEBAD7;
        border-radius: 5px;
        width: 15px;
    }
    div:nth-child(4){
        background: #FEBAD7;
        border-radius: 5px;
        width: 15px;
    }
}
.LeatestProductsText{
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-top: 100px;
    left: 40%;
    cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $red;
        transition: width 1s ease-in-out;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover::after{
        transform-origin: right;
        transition: width 1s ease-in-out;
    }
}
.LeatestProductsNav{
    width: 600px;
    display: flex;
    gap: 20px;
    margin-left: 35%;
    margin-top: 40px;
    div{ cursor: pointer;
        width: 100px;
        &:hover{
            color: $red;
            text-decoration: underline;
        }
    }
    
}
.ShopexCardsMainText{
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-top: 100px;
    left: 40%;
    cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $red;
        transition: width 1s ease-in-out;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover::after{
        transform-origin: right;
        transition: width 1s ease-in-out;
    }
}
.TrendingCardsMainText{
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-top: 100px;
    left: 40%;
    cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $red;
        transition: width 1s ease-in-out;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover::after{
        transform-origin: right;
        transition: width 1s ease-in-out;
    }
}