@use "../../../assets/styles/resets";
@import "../../../assets/styles/setting";

.ShopexCardMain{
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;  
    text-align: center;
    box-shadow: 0.5px 0.5px 5px rgb(230, 229, 229);
    &:hover{
        transform: scale(1.05);
        //box-shadow: 0.5px 0.5px 5px $red;
        box-shadow: 0 15px 70px rgba(255, 0, 0, 0.2), 0 15px 30px rgba(255, 0, 0, 0.1);
    }
    h4{
        color: #1A0B5B4D;

    }
    h2{
        color: $darkest-blue;
    }
}