@import "../../assets/styles/setting";
@import "../../assets/styles/_resets.scss";
.all-Cards{
    width: 700px;
    margin-top: 150px;
    height: 100%;
    position: relative;
    @include grid(4,1fr ,300px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    
}