@use '../../assets/styles/resets';
@import '../../assets/styles/setting';


.reserv-wrapper {
    display: flex; 
    justify-content: space-between; 
    width: 90%;
    padding: 50px;
    margin: 50px;
    height: 250px;
    background-color: #333;
    border-radius: 8px;
    color: white;

    .leftSide {
        display: flex; 
        flex-direction: column;
        gap: 20px; 

        .hotel {
            font-size: 45px;
            color: $violet;
        }

        .id,
        .price {
            font-size: 20px;

            span {
                color: $red;
            }
        }
    }

    .rightSide {
        display: flex; 
        flex-direction: column;
        align-items: flex-end; 

        .icon {
            font-size: 30px;

            &:hover {
                animation: clock 2s linear;
            }
        }

        a {
            font-size: 30px;
            color: $light;
            text-decoration: underline;
            text-decoration-color: darkblue;

            &:hover {
                color: $red;
                text-decoration-color: $red;
            }
        }
    }
}


@keyframes clock {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 1286px) {
    .reserv-wrapper {
        justify-content: center;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }
}

@media (max-width: 400px) {
    .reserv-wrapper {
        justify-content: center;
        align-items: center;
        margin: 10px 0 10px 10px;
        text-align: center;
        height: auto; 
        padding: 20px; 

        .leftSide {
            .hotel {
                font-size: 30px;
            }

            .id,
            .price {
                font-size: 16px; 
            }
        }
    }
}

