@use "../../assets/styles/resets";
@import "../../assets/styles/setting";

footer{
    width: 100%;
    height: 300px;
    max-height: 100%;
    background:#555;
    position: relative;
    color: $light;
    user-select: none;
    
    p:hover{
        color: $red;
        box-shadow: 2px 2px  0.1px $red;
        transform: scale(1.040);
        .linksNav:hover{
            color: $red;
        }
    }
    .info{
        position: absolute;
        left:13%;
        top: 67%;
        color:#8A8FB9;
        font-size: 12px;
    }
    .inp{
        display: flex;
        position: absolute;
        top: 50%;
        left:13%;
        input{
            background-color: white;
            &:hover{
                box-shadow: 0 4px 8px rgba(0, 0, 145, 0.3);          
                }
                &:active{
                    border: 2px solid $darkest-blue;
                    box-shadow: 0px 4px 8px $darkest-blue;
                }
        }
        button{
            background-color:$red ;
            color: white;
            width: 100px;
            box-shadow: 0 4px 8px rgba(0, 0, 145, 0.3);
            &:hover{
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                transform: translateY(-3px);
            } &:active{
                opacity: 1.5;
            }
        }
    }
    
    h1{
        position: absolute;
        left: 15%;
        top: 25%;
        }
    .Categories{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left:48%;
        top:15%;
    }
    .Customer-Care{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left:65%;
        top:16%;
    }
    .Pages{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        left:80%;
        top:15%;
        color: $light;
        .linksNav{
            color: $light;
        }
    }
    .items{
        width: 100%;
        position: absolute;
        top: 90%;
        height: 40px;
        color: $light;
        background-color: $violet;
        .text{
            position: absolute;
            left:25%;
            top:30%;
        }
    }
    .footerLogo{
        color: $light;
        font-size: 40px;
        font-weight: 700;
    }
    
}