@use "../../../assets/styles/resets";
@import "../../../assets/styles/_setting.scss";

nav {
    user-select: none;

    .animation {
        width:100%;
        height: 10px;
        position: relative;
        padding-top: 3px;
        overflow: hidden;
        margin-top: 30px;
        box-shadow: 0 0 30px 15px rgba(255, 140, 0, 1);

        .lineVis {
            overflow: visible;
            width: 100%;
            height: 6px;
        }

        .line {
            width: 60%;
            height: 4px;
            position: absolute;
            filter: drop-shadow(0 0 15px rgba(255, 140, 0, 1));
            box-shadow: 0 0 20px 5px rgba(255, 140, 0, 0.9), 0 0 40px 10px rgba(255, 140, 0, 0.7),
                -0 -0 20px 5px rgba(255, 140, 0, 0.9), 0 0 40px 10px rgba(255, 140, 0, 0.7);
            background: linear-gradient(to right, #ffbc03 0%, #ff8c00 100%);
            animation: lineMove 5s infinite linear;
        }
    }

    @keyframes lineMove {
        from {
            transform: translateX(-180%);
        }

        to {
            transform: translateX(180%);
        }
    }

    .bottom {
        padding: 20px 200px;
        @include grid($gap: 300px);
        grid-template-columns: 250px 1fr;

        .left {
            h1.logo {
                font-size: 45px;
                color: white;
                position: relative;
                top: 10px;
                font-weight: 900;
            }
        }

        .right {
            width: 100px;
                position: relative;
            @include flex(row, center, space-between, 20px);
            .links {
                text-align: center;

                .active {
                    text-decoration: underline;
                    text-decoration-color: rgb(186, 121, 0);
                }

                a {
                    display: inline-block;
                    color: white;
                    padding: 0 15px;

                    &:hover {
                        color: rgb(186, 121, 0);
                        text-shadow: 0 0 15px #FFA500,
                            0 0 30px #FF8C00,
                            0 0 45px #FF4500,
                            0 0 60px #FF8C00,
                            0 0 75px #FFA500;
                    }
                }
            }
        }
    }

    @media(max-width : 1286px) {
        .bottom {
            padding: 20px 110px;
            @include grid($gap: 220px);
            grid-template-columns: 190px 1fr;

            h1 {
                width: 300px;
            }
        }
    }

    @media(max-width : 1070px) {
        .bottom {
            padding: 20px 100px;
            @include grid($gap: 200px);
            grid-template-columns: 170px 1fr;
        }
    }

    @media(max-width : 923px) {
        .bottom {
            padding: 10px 50px;
            @include grid($gap: 100px);
            grid-template-columns: 120px 1fr;

            .left {
                h1.logo {
                    font-size: 30px;
                    color: white;
                    position: relative;
                    top: 10px;
                    font-weight: 900;
                }
            }
        }

    }
    @media(max-width : 923px) {
        .bottom {
            padding: 10px 50px;
            @include grid($gap: 50px);
            grid-template-columns: 100px 1fr;

            .left {
                h1.logo {
                    font-size: 30px;
                    color: white;
                    position: relative;
                    top: 10px;
                    width: 120px;
                    font-weight: 900;
                }
            }
            .right .links{
                display: none;
            }
        }

    }
}

.burger-menu-container {
    position: relative;
    height: 40px;
    margin-right: 20px;
    left: 100%;
    justify-content: end;
    align-items: end;
    width: 60px;
    top: 10px;
    z-index: 9000000;
    display: none;
    .burger-menu-wrapper {
        width: 60px;
        height: 40px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 2px;
        z-index: 90;
        transition: opacity 0.3s ease;
        justify-content:center;
        align-items: center;

        div {
            background: $red-gradient;
            width: 60px;
            height: 8px;
            
        }

    }
    input {
        position: absolute;
        z-index: 100;
        top: 0px;
        width: 60px;
        height: 40px;
        opacity: 0;
    }
}
.links-wrapper1{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #333333b0;
    backdrop-filter: blur(5px);
    z-index: 90000;
    color: white;
    transition: 0.1s;
    top: 0;
    display: none;
    transform: translate(-450px);
    left: 0;
    .links1{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        gap: 40px;
        justify-content: center;
        align-items: center;
        align-content: center;
        top: 30%;
        position: relative;
        color: white;
        transition: 0.5s linear;
       a{
        transition: 0.3s linear;
        color: white;
        &:hover {
            color: rgb(186, 121, 0);
            text-shadow: 0 0 15px #FFA500,
                0 0 30px #FF8C00,
                0 0 45px #FF4500,
                0 0 60px #FF8C00,
                0 0 75px #FFA500;
        }
        .active {
            text-decoration: underline;
            text-decoration-color: rgb(186, 121, 0);
        }
       }
    }
}
@media(max-width : 450px) {
    .links-wrapper1{
        display: block;
    }
    .burger-menu-container{
        display: block;
    }
    .right .links{
        display: none;
    }
}
@media(max-width:360px){
    .burger-menu-container{
        left: 30%;
        top: 10px;
    }
    .bottom{
        .left {
            h1.logo {
                font-size: 45px;
                color: white;
                position: relative;
                top: 10px;
                left: -40px;
                font-weight: 900;
            }
        }
    }
}
@media (max-width:300px) {
    .burger-menu-container{
        left: -30%;
    }
    .right .links{
        display: none;
    }
}